APP_ENV=local
API_BASE_URL=http://YOUR_HOSTER_VPS_IP:4000
SOCKET_BASE_URL=http://YOUR_HOSTER_VPS_IP:4000
ANDROID_API_BASE_URL=http://YOUR_HOSTER_VPS_IP:4000
ANDROID_SOCKET_BASE_URL=http://YOUR_HOSTER_VPS_IP:4000
ENABLE_FIREBASE_SERVICES=true
ENABLE_PUSH_NOTIFICATIONS=true
MAPBOX_TOKEN=YOUR_PUBLIC_MAPBOX_TOKEN
