APP_ENV=production
API_BASE_URL=https://prokatbackend.onrender.com
SOCKET_BASE_URL=https://prokatbackend.onrender.com
ENABLE_FIREBASE_SERVICES=true
ENABLE_PUSH_NOTIFICATIONS=true
MAPBOX_TOKEN=YOUR_PUBLIC_MAPBOX_TOKEN
