APP_ENV=production
API_BASE_URL=https://api.prokat.auyltech.kz
SOCKET_BASE_URL=https://api.prokat.auyltech.kz
ENABLE_FIREBASE_SERVICES=true
ENABLE_PUSH_NOTIFICATIONS=true
MAPBOX_TOKEN=YOUR_PUBLIC_MAPBOX_TOKEN
SHARE_BASE_URL=https://prokat-bfbec.web.app
